.DS_Store
.idea

# vim
*.swp

# Go test coverage
coverage.out
coverage.html
circleci-artifacts/

# for building binary files
bin/

# vscode debug.test
**/debug.test

# Vagrant
**/.vagrant/*

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.terraform.lock.hcl

