on:
  push:
    branches:
      - main
      - release
      - afiune/windows

jobs:
  windows-integration-tests:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - uses: actions/setup-go@v4
        with:
          go-version: '^1.21'
      - run: go version

      - name: Running integration tests
        shell: pwsh
        env:
          CI_ACCOUNT: ${{ secrets.CI_ACCOUNT }}
          CI_SUBACCOUNT: ${{ secrets.CI_SUBACCOUNT }}
          CI_API_KEY: ${{ secrets.CI_API_KEY }}
          CI_API_SECRET: ${{ secrets.CI_API_SECRET }}
          HONEYAPIKEY: ${{ secrets.HONEY_DEV_KEY }}
          HONEYDATASET: ${{ secrets.HONEYDATASET }}
          LW_INT_TEST_AWS_ACC: ${{ secrets.LW_INT_TEST_AWS_ACC }}
        run: |
          Set-ExecutionPolicy Bypass -Scope Process -Force
          ./scripts/codefresh.ps1
          exit $LastExitCode
